<main class="space-t-btm">
  <form (submit)="onSubmit()" class="terms" [formGroup]="appForm">
    PSYCHIC READING BY {{ astroName }} FOR
    <p><a routerLink="/confirm">Paypal</a> <a (click)="card=!card">Credit Card</a>
    <div [hidden]="card">

      <input formControlName="card_number" mask="9999-9999-9999-9999">
      Credit Card Number is required.

      <ng-select
        placeholder="Mounth"
        formControlName="month"
        [options]="monthOptions">
      </ng-select>
      Month is required

      <ng-select
        placeholder="Year"
        formControlName="year"
        [options]="yearOptions">
      </ng-select>
      Year is required.

      <input formControlName="cvc">

      <button>BUY NOW</button>

    </div>
  </form>
</main>
